.booking-container {
    background-color: #fff7e6;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

.booking-container h2 {
    color: #495e57;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #333;
}

input, textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 1rem;
}

button {
    background-color: #f4ce14;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e3bd0d;
}
